/*Colors used:
Name Color (Blue-Gray): #bbc0cc
Nav Hover (Light Orange): #e38e6e
Text Color (Light Gray): #3a3a3a;
*/

body{
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #3a3a3a
}

h2,h3 {
  line-height: 1.4;
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
}

h3{
  font-size: 1.75em;
  font-weight: 400;
}

img{
  width: 100%;
}

a{
  color:#3a3a3a;
  text-decoration:none;
}
a:hover,
a:focus{
  color:#e38e6e;
  text-decoration: underline;
}

a:visited{
  color:#c8c1bb;
}
a:active{
  color:#bd9281;
}

.button{
  display: inline-block;
  background-color: #e38e6e;
  color:#ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 2px;
  transition: 0.2s opacity;
}
.button:hover{
  opacity: 0.8;
  text-decoration: none;
}
.button:visited{
  background-color: #e38e6e;
  color: #ffffff;
}

.button.contact{
  background-color: transparent;
  color: #bbc0cc;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px solid #bbc0cc;

}
.button.contact:hover{
  background-color: #bbc0cc;
  color: #ffffff;
}
